<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring MVC Album </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
     <link href="resources/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Albums</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/album/insert}">Add album</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <h1> </h1>
        </div>
        <div class="row">

            <div class="col-lg-3">
                <!--
                <a th:href="@{/albums/nuevo}" class="btn btn-primary btn-sm mb3">Agregar Album</a>
                -->
            </div>
        </div>
        <br>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th> Id</th>
                <th> Singer Id</th>
                <th> Title</th>
                <th> Release Date</th>
                <th> Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="album : ${album}">
                <td class="table-primary" th:text="${album.id}">Id</td>
                <td class="table-primary" th:text="${album.singer_id}">Singer</td>
                <td class="table-primary" th:text="${album.title}">Title</td>
                <td class="table-primary" th:text="${album.release_date}">Release</td>
                <td>
                    <a th:href="@{/album/editar/{id}(id=${album.id})}" class="btn btn-outline-primary">Edit</a>
                    <a th:href="@{/album/{id}(id=${album.id})}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>