<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring MVC 5 + Thymeleaf</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
     <link href="resources/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Lista de Singer</h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/singers/nuevo}" class="btn btn-primary btn-sm mb3">Agregar Singer</a>
            </div>
        </div>
        <br>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="singer : ${singers}">
                <td th:text="${singer.id}">Id</td>
                <td th:text="${singer.firstName}">First Name</td>
                <td th:text="${singer.lastName}">Last Name</td>
                <td th:text="${#dates.format(singer.birthDate, 'dd-MMM-yyyy')}">Birthday</td>
                <td>
                    <a th:href="@{/singers/editar/{id}(id=${singer.id})}" class="btn btn-info">Editar</a>
                    <a th:href="@{/singers/{id}(id=${singer.id})}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>